@{
    ViewData["Title"] = "Home Page";
    int cnt = 0;
}

<link href="~/lib/video/css/home_page.css" rel="stylesheet" />
<link href="~/lib/video/css/video_player.css" rel="stylesheet" />

<br />

<div class="container homepage_color">

    <!-- Start Video Section -->
    <div class="row">

        <table style="margin-left:auto; margin-right:auto;">
            <tr>
                <!-- Back Button -->
                <td><div id="back_bn"><img src="~/images/btn-back.png" height="30px" /></div><div style="min-height:48px;"></div></td>

                <!-- Video List -->
                <td>

                    @foreach (System.Data.DataRow dr in ViewBag.dt.Rows)
                    {

                        string video_id = dr["videoLink"].ToString().Replace("https://www.youtube.com/watch?v=", "");
                        string strTitle = dr["title"].ToString();
                        string strPicID = "pic" + cnt.ToString();
                        string strVideoID = "video" + cnt.ToString();
                        string strTitleID = "strTitleID" + cnt.ToString();

                        <div class="col-sm-3" id="@strVideoID" style= "min-height:210px; padding-left: 5px; padding-right: 5px;">

                            <div style="background-color: white; margin-bottom:30px; border: 1px solid #edefef">

                                <div id="@strPicID" data-src="@video_id" onClick="video_click(this.id)">

                                    <input type="image" src="https://img.youtube.com/vi/@video_id/mqdefault.jpg" class="video-btn pic_video" />

                                </div>

                                <div style="min-height:70px;">

                                    <div class="video-title" style="width: 262.5px; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden;" id="@strTitleID">@strTitle</div>

                                </div>


                            </div>
                            
                            

                        </div>

                        cnt = cnt + 1;
                    }

                </td>

                <!-- Next Button -->
                <td><div id="next_bn"><img src="~/images/btn-next.png" height="30px" /></div><div style="min-height:48px;"></div></td>
            </tr>
        </table>

    </div>
    <!-- End Video Section -->

    <br />

    <!-- Start Stat Section -->
    <div class="row">

        <div class="col-sm-12">

            <p>Stats:</p>
            <p>Resize the browser window to call <code>resize</code> event.</p>
            <p>Window height: <span id="height"></span></p>
            <p>Window width: <span id="width"></span></p>
            <p>Current video: <span id="current">0</span></p>
            <p>Device type: <span id="device_type">DESKTOP</span></p>

        </div>

    </div>
    <!-- End Stat Section -->

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content center" id="modal_content" style="width:60%; height:auto">
            <span class="close" id="close_button">&times;</span>

            <!-- 16:9 aspect ratio -->
            <div class="embed-responsive embed-responsive-16by9" style="padding-bottom: 56.25%" id="load-player">
                <iframe class="embed-responsive-item" height="500" frameborder="0" src="" id="embed_video" allowscriptaccess="always" allow="autoplay" allowfullscreen="allowfullscreen"></iframe>
            </div>

        </div>

    </div>
</div>

<script src="~/lib/video/js/home_page.js" type="text/javascript"></script>
<script src="~/lib/video/js/video_player.js" type="text/javascript"></script>